.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border: 3px solid black;
  
}
#root{
  margin: 0 auto;
}



ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 5px;
  border-radius: 5px;
  
}

.expense {
  color: red;
}

.income {
  color: green;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #0056b3;
}

.buttons button:last-child {
  margin-right: 0;
}